
 <ion-header>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <a class="navbar-brand" href="#">
        <img src="assets/img/logo-uaileva.png" />
        </a>
        <ion-menu-button>
            <button class="navbar-toggler" >
                <span class="navbar-toggler-icon"></span>
            </button>
        </ion-menu-button>
    </nav>
</ion-header>
<ion-content>
    <div #map>
        <br>
        <div class="boxConteudo" [hidden]="destination">
            <div class="saudacao">
                <ion-text color="medium" *ngIf="(user$ | async) as user">
                    Olá Motorista {{user.fullname}} ! 

                </ion-text> 
                <br><br>

                
                <div *ngIf="users && users.length">
                  <div *ngFor="let user of users">
                    <p>{{user.status}}</p>
                  </div>
                </div>
    <style>
        body {
        background: #824438;
      }
      
      .vibra {
        margin: 20px auto;
        width: 300px;
        animation: vibrador 0.82s cubic-bezier(.36,.07,.19,.97) both;
        animation-iteration-count: infinite;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
        background:white;
        text-align:center;
      }
      
      @keyframes vibrador {
        10%, 90% {
          transform: translate3d(-1px, 0, 0);
        }
        
        20%, 80% {
          transform: translate3d(2px, 0, 0);
        }
      
        30%, 50%, 70% {
          transform: translate3d(-4px, 0, 0);
        }
      
        40%, 60% {
          transform: translate3d(4px, 0, 0);
        }
      }
      </style>
      
      <div class="vibra" id = "aceitar" style="display:none">
        ACEITAR CORRIDA.

        
      </div>
              
            </div>
        </div>
       
    </div>
  </ion-content>
  