@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,400;1,500&display=swap');

.login {
    //--background: url('src/assets/img/bg-uai-leva2.png') #eaeaea no-repeat bottom 75px left 35px;
    --background: url("src/assets/img/bg-login.jpg") !important;
 
}
@media (max-width: 992px) {
    ion-content {
        //--background: url('src/assets/img/bg-uai-leva2.png') #eaeaea no-repeat bottom 75px left 35px;
        --background: white;
        background-size: cover;
        height: inherit;
    }

    .navbar-collapse {
        position: fixed;
        top: 0px;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 75%;
        height: 100%;
        background: #1765e2;
        text-transform: uppercase;
        z-index: 9999;
        box-shadow: 0px 0px 90px black;
    }
    
    .navbar-collapse a.nav-link {
    color: white !important;
    font-weight: bold;
    font-size: 19px;
    }

    a.nav-link svg {
    font-size: 25px;
    margin-right: 10px;
    }
    
    .navbar-dark .navbar-toggler {
        background: #1b2c7b;
    }
    
    //.navbar-dark span.navbar-toggler-icon {
    ///background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.9%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
    //}

    .navbar-collapse.collapsing {
        left: -75%;
        transition: height 0s ease;
    }

    .navbar-collapse.show {
        margin-top: 0px;
        left: 0;
        transition: left 300ms ease-in-out;
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 500ms ease-in-out;
    }
    
}

   body {
    background: url('src/assets/img/bg-uai-leva.png') no-repeat #eaeaea;
    font-family: 'Rubik', sans-serif;
    background-position: 80px bottom;
    background-size: contain;
    height: 100vh;
}

    h1 {
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0;
    font-weight: bold;
    color: #123b7d;
    }

    h3 {
        font-size: 0.75rem;
        text-align: left;
        text-transform: uppercase;
        margin: 20px 0;
        font-weight: bold;
        color: #1c72fd;
    }
    
    .navbar.bg-dark {
        background:#1c72fd!important
    }

    .boxConteudo {
        background: white;
        padding: 20px;
        border-radius: 20px;
        position: relative;
        box-shadow: 0px 0px 10px #e4e4e4;
    }

    .boxConteudo label {
    text-transform: uppercase;
    font-size: 12px;
    }

    /*.boxConteudo .form-control {
        height: calc(1.5em + .75rem + 14px);
        border-radius: 100px;
    }*/

    .boxConteudo .form-control {
        height: calc(1.5em + .75rem + 14px);
        border-radius: 100px;
    }

    //ion-content
    /*body.login {
        --background: url('src/assets/img/bg-login.jpg') !important;
        background-size: cover;
        height: inherit;
    }*/

    .position {
        position: absolute;
        top: 6px;
        left: 10px;
    }

    .logoLogin img {
        margin: 30px auto;
        display: block;
        width: 30%;
    }

    .login .boxConteudo .form-control {
        font-size: 13px;
        text-align: center;
    }

    .login .boxConteudo {
        background: none;
        box-shadow: none;
        margin-top: 40%;
    }

    .login button.btnLogin {
        background: #b1ff49;
        border: none;
        color: #002752;
        font-weight: normal;
    }

    .login button.btnLogin:active {
        background-color: #99dd3e !important;
        border-color: #99dd3e !important;
        color: #002752 !important;
    }

    input#inputLogin, input#inputSenha {
        padding-right: 45px;
    }

    .login input[type=text]:focus, .login input[type=password]:focus {
        color: #1c72fd;
    }

    .login .form-group {
        position: relative;
    }

    .login .form-group svg {
        position: absolute;
        left: 20px;
        top: 11px;
        font-size: 20px;
    }

    .linkEsqueciSenha a {
        color: white;
        text-transform: uppercase;
        font-size: 12px;
        display: block;
        text-align: center;
        margin-top: 10px;
    }

    .linkCadastrar a {
        color: #b1ff49;
        text-transform: uppercase;
        font-size: 12px;
        display: block;
        text-align: center;
        margin-top: 10px;
    }
    
    /*.buttonArea {
    margin: 20px -20px 0px -20px;
    background: #101a4c;
    width: 100%;
    display: block;
    position: absolute;
    z-index: 0;
    bottom: -50px;
    padding: 10px;
    border-radius: 0 0 20px 20px;
    }*/
    
    .buttonArea button {
        width:100%;
    }
    
    .buttonArea svg {
    font-size: 25px;
    margin-right: 5px;
    }
    
    button.navbar-toggler {
    border-radius: 100px;
    height: 55px !important;
    background: #ffffff;
    border: #92f328 solid 0px;
    outline: none;
    }
    
    .boxConteudo .btn {
    font-weight: bold;
    }

    .mapa iframe {
        border: 0;
        width: 100%;
        height:100vh;
        position: absolute;
        top: 0px;
        z-index: -1;
    }

    .saudacao {
        text-align: center;
    }

    .homePassageiro .boxConteudo {
        position: relative;
        top: 30px;
        width: calc(100% - 0px);
        margin: 0 auto;
        padding: 15px 5px;
    }

    .homePassageiro .buttonArea button.rounded-pill {
        font-size: 18px;
    }

    button.escolherDestino {
        width: calc(100% - 60px);
        float: left;
    }

    button.embarqueRapido {
        float: right;
        padding: 0px 12px;
        width: 55px;
        height: 55px;
    }

    button.embarqueRapido svg {
        width: 35px;
        height: 35x;
        color: white;
    }

    button.btn.btn-primary.btn-lg.rounded-pill.embarqueRapido {
        background: #1c72fd;
        border: none;
    }

    .formDestino {
        border: none;
        margin-top: 5px;
    }

    .endDestinoRecente {
        font-size: 11px;
        background: #eee;
        padding: 14px;
        border-radius: 5px;
    }

    .endDestinoRecente b {
        font-weight: normal;
        color: darkgray;
    }

    .tituloDestinoRecente {
        text-transform: uppercase;
        font-weight: bold;
    }

    .bEntrar {
        //position: fixed;
        background: #1765e2;
        padding: 20px;
        border-radius: 100%;
        position: relative;
        box-shadow: 0px 0px 10px #e4e4e4;
    }

a.btnEditar {
    float: right;
}

.labelCadastrado {
    float: left;
    text-transform: uppercase;
    font-size: 13px;
}

.valorCadastrado {
    clear: both;
    color: #1c72fd;
    font-size: 18px;
}

a.btnEditar {
    float: right;
    background: #fff949;
    color: #9a9615;
    padding: 2px 10px;
    border-radius: 20px;
    font-size: 13px;
}

a.btn.btnNeutro {
    font-size: 14px;
    width: 100%;
    font-weight: normal;
}

a.btn.btnNeutro svg {
    margin-top: -3px;
    margin-right: 5px;
}

    .textLogin {
        color: white;
        text-transform: uppercase;
        font-size: 12px;
        display: block;
        text-align: center;
        margin-top: 10px;
        padding-bottom: 5px;
    }

/*:host {
    ion-content {
        --background: linear-gradient(135deg, var(--ion-color-light), var(--ion-color-light));
    }
}

.paz {
    position: relative;
    z-index: 10;
}*/