

<ion-header>
  <title>Uai Leva / Login</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

</ion-header>


<ion-content class="login">

  <div class="container">
    <br>
      <div class="logoLogin">
          <img src='/assets/img/logo-branco.png' alt="Uai Leva">
          
      </div>
      <br>
      <div class="boxConteudo">      
        <form [formGroup]="onLoginForm" class="list-form">
              <div class="form-group">
                <div class="position"><img src='/assets/icon/brasil.png' style="width: 2.5em; height: 2.5em;"></div>
                <input type="phone" formControlName="phone" class="form-control cel-sp-mask" id="celular" placeholder="Telefone" onkeypress="$(this).mask('(00) 90000-0000')"/>
              </div>
              <div class="form-group">
                <input type="password" formControlName="password" class="form-control cel-sp-mask" id="celular" placeholder="Senha"/>
              </div>
                
        </form>
        <div class="text-center buttonArea">
          <button class="btn btn-primary btn-lg rounded-pill btnLogin" (click)="goToHome()">
              ENTRAR
          </button>
        </div>
          <div class="linkEsqueciSenha">
              <a href="">Esqueci minha Senha</a>
          </div>

          <ion-grid>
              <p class="textLogin">OU LOGAR COM:</p>
            <ion-row>
              <ion-col size="6">
              <ion-button shape="round" expand="full" color="tertiary" (click)="loginFb()">
                  <img [src]="user.img" alt=""/>
                  <ion-icon slot="icon-only" name="logo-facebook" style="color: #1b2c7b;"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col size="6">
                <ion-button shape="round" expand="full" color="tertiary">
                  <ion-icon slot="icon-only" name="logo-googleplus" style="color: #1b2c7b;"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>

          <div class="linkCadastrar">
              <a (click)="goToRegister()">Quero Cadastrar > </a>
          </div>

          
      </div>

  </div>

</ion-content>

