:host {
    ion-content {
        --background: #fff !important;
    }

    ion-labe{
        font-size: 13px;
    }

    ion-list {
        &.list-md {
            padding: 0;
            margin-top: 30%;
        }
    }
}
