
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,400;1,500&display=swap');

:host {
    ion-content {
       //--background: url('src/assets/img/bg-uai-leva.png') no-repeat bottom 6px right 30px !important;
       --background: url('src/assets/img/bg-uai-leva.png') no-repeat bottom !important;
       background: #eaeaeae9 !important;
    }

    ion-item {
        border-radius: 0;
        border-bottom: 1px dotted var(--ion-color-medium);
    }

    ion-card {
        &.no-radius {
            border-radius: 0;
        }
		
    }

   body {
    
    font-family: 'Rubik', sans-serif;
    background-position: 80px bottom;
    background-size: contain;
    height: 100vh;
   }


    .navbar-collapse {
        position: fixed;
        top: 0px;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 75%;
        height: 100%;
        background: #1765e2;
        text-transform: uppercase;
        z-index: 9999;
        box-shadow: 0px 0px 90px black;
    }

    .navbar-collapse.collapsing {
        left: -75%;
        transition: height 0s ease;
    }

    .navbar-collapse.show {
        margin-top: 0px;
        left: 0;
        transition: left 300ms ease-in-out;
    }
    .navbar-dark span.navbar-toggler-icon {
        background: url("/assets/icon/Icon-40x40@3x.png");
        }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 500ms ease-in-out;
    }
    .navbar-collapse a.nav-link {
        color: white !important;
        font-weight: bold;
        font-size: 19px;
        }
    
        a.nav-link svg {
        font-size: 25px;
        margin-right: 10px;
        }
        
        .navbar-dark .navbar-toggler {
            background: #1b2c7b;
        }
        .navbar.bg-dark {
            background:#1c72fd!important
        }
        
    .boxConteudo {
        background: white;
        padding: 20px;
        border-radius: 20px;
        position:relative;
        margin-left: 3%;
        margin-right: 3%;
    }
    .boxConteudo .form-control {
        height: calc(1.5em + .75rem + 4px);
    }

    .boxConteudo label {
        text-transform: uppercase;
        font-size: 12px;
        }
    h1 {
        font-size: 1.5rem;
        text-align: center;
        text-transform: uppercase;
        margin: 20px 0;
        font-weight: bold;
        color: #123b7d;
    }
    .navbar.bg-dark {
        background:#1c72fd!important
    }
    
    .boxConteudo {
    background: white;
    padding: 20px;
    border-radius: 20px;
    position:relative;
    }

    .boxConteudo label {
    text-transform: uppercase;
    font-size: 12px;
    }
    
    .boxConteudo .form-control {
        height: calc(1.5em + .75rem + 4px);
    }
    
    /*.buttonArea {
    margin: 20px -20px 0px -20px;
    background: #101a4c;
    width: 100%;
    display: block;
    position: absolute;
    z-index: 0;
    bottom: -50px;
    padding: 10px;
    border-radius: 0 0 20px 20px;
    }*/
    
    .buttonArea button {
        width:100%;
    }
    
    .buttonArea svg {
    font-size: 25px;
    margin-right: 5px;
    }
    
    button.navbar-toggler {
    border-radius: 100px;
    height: 55px !important;
    background: #ffffff;
    border: #92f328 solid 0px;
    outline: none;
    }
    
    .boxConteudo .btn {
    font-weight: bold;
    }

}