// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

ion-item {
    --ion-item-background: transparent;
	
}
body {font-size: 13px;}

ion-content {
  text-align: left;
}

.logo-img {
  margin-top: 20%;

}

a { color: #284691;}
a:hover { text-decoration:none;}

// backgrounds //
.bg-white {
  background-color: #fff;
}
  
  .bg-light {
    background-color: var(--ion-color-light);
  }
  
  .bg-dark {
      background-color: var(--ion-color-dark);
  }
  
  .bg-primary {
      background-color: var(--ion-color-primary);
  }
  
  .bg-secondary {
      background-color: var(--ion-color-secondary);
  }
  
  .bg-tertiary {
      background-color: var(--ion-color-tertiary);
  }
  
  .bg-profile {
    background-image: linear-gradient(135deg, var(--ion-color-medium), var(--ion-color-light))
  }
  
  .bg-main {
      background-image: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light))
  }

  .img-demo {
    margin-bottom: 20px;
  }
  ion-radio {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 2px solid #ccc;
}

//ion-label#radio-form{
   // position: absolute;
   // top: 2px;
   // left: 25px;
//}
  
  // Helpers //
  .w100 {
    width: 100%;
  }
  
  .bold,
  .fw500 {
      font-weight: 500 !important;
  }
  
  .fw700 {
      font-weight: 700 !important;
  }
  
  .text08 {
    font-size: .8rem;
  }
  
  .text09 {
    font-size: .9rem;
  }
  
  .text1 {
    font-size: 1rem !important;
  }

  .text12 {
    font-size: 1.2rem;
  }

  .text15 {
    font-size: 1.5rem;
  }
  
  .text20 {
    font-size: 2rem;
  }
  
  .text-white {
      color: #fff;
  }
  
  .text-primary {
      color: var(--ion-color-primary);
  }

  .text-secondary {
    color: var(--ion-color-secondary);
}
  
  .text-dark {
    color: var(--ion-color-dark);
  }
  
  // menu //
  // Menu user profile
  ion-toolbar.user-profile {
    --border-style: var(--border-style);
    --border: 0 none; 
    --box-shadow: 0 0 0 0; 
    --outline: 0;
    --background: #007bff !important;
    .user-avatar {
      width: 60px;
      height: 60px;
      --border-style: var(--border-style) !important;
    }
    .item-inner {
      border-bottom-style: 3px dotted white !important;
      border-top: 3px dotted white !important;
      color: #fff;
    }
    .item-inner-else{
      /*border-bottom: 3px solid white !important;
      border-top: 3px solid white !important;
      margin-left: 20px !important;
      margin-right: 20px !important;*/
      --border-style: var(--border-style) !important;
    }
  }
  
  // Custom toolbar (overriding Shadow DOM)
  ion-toolbar {
    border-style: none !important;
    &.ion-color-primary {
      --ion-color-base: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary)) !important;
    }
  }
  
  // Android card shadow
  ion-card {
    &.sc-ion-card-md-h {
      box-shadow: 0 2px 4px rgba(var(--ion-color-dark-rgb),.24);
	  
    }
  }
  
  // style for auth pages
  .auth-page {
    background-image: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary));
  
    .grid {
      padding: 0;
      .col {
        padding: 0;
      }
    }
  
    .btn-group {
      .button-ios,
      .button-md {
        border-radius: 0;
        &:first-of-type {
          border-radius: 2px 0 0 2px;
        }
        &:last-of-type {
          border-radius: 0 2px 2px 0;
        }
      }
    }
  
    .auth-content {
      margin: 0 5%;
  
      .logo {
        width: 100px;
        height: 86px;
        margin: 30px auto 0px;
        //border-radius: 10%;
        //background: url("/uaileva/assets/icon/Icon-40x40@3x.png") no-repeat;
        background: url("/assets/img/logo-uaileva.png") no-repeat;
        background-size: 100%;
      }
  
      .list-form {
        padding: 0;
        margin-bottom: 0;
  
        ion-item {
		  --highlight-color-invalid: red; //TA AQUI
		  --highlight-color-valid: #007bff; //TA AQUI
          background: none;
          padding: 0;
  
          &:first-child {
            border-top: none;
          }
  
          &:after {
            display: none;
          }
  
          ion-label {
            font-size: 1em;
            color: var(--ion-color-medium);
          }
  
          input {
            color: var(--ion-color-medium);
				.item-input-has-focus .label-md[floating], .input-has-focus .label-md[floating]{
					color: black; //label color when focusing
			}
			.item-input .label-md{
					color: black; //label color
			}
          }
        }
      }
    }
  
  }
  
  
  
  // Custom Menu styles (overriding Shadow DOM)
  ion-menu {
    ion-header {
      ion-toolbar {
        &.ion-color-dark {
          --ion-color-base: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary)) !important;
        }
      }
    }
  }
  
  
  
  .mto {
    margin-top: 12px;
    ion-icon {
      margin-bottom: -2px;
    }
  }
  
.btn.btn-app {
  position: relative;
  padding: 15px 5px;
  margin: 5px 5px 5px 5px;
  min-width: 40%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: 0px 5px 0px 0px #a88691, 0px 10px 5px #999;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 8px;
  text-align: center;
  color: #666;
  border: 1px solid #ddd;
  background-color: #fafafa;
  font-size: 14px;
}

.btn.btn-app:hover {
  background: #e3e3e3;
  color: #444;
  border-color: #aaa;
  cursor: pointer;
}

.btn.btn-app:disabled,
.btn.btn-app[disabled]{
  box-shadow: 0px 5px 0px 0px #b9b9b9, 0px 10px 5px #999;
  //border-bottom: 3px solid #b9b9b9;
  background-color: #fafafa;
}

.btn.btn-app:active,
.btn.btn-app:focus {
  background: #efe1e5;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  i {
       color: #804254 !important;
    }
  span {
       color: #804254 !important;
    }
}

.btn.btn-app > .badge {
  position: absolute;
  top: -3px;
  right: -10px;
  font-size: 10px;
  font-weight: 400;
}
 
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.50;
  filter: alpha(opacity=50);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.classItem:hover {
  background-color: #007bff;// #d6d6d6;
}

.classItem:active {
  background-color: #d6d6d6;
  //--ion-color: purple !important; //#804254 
  ion-icon {
        --ion-color-base: white !important; //#5c5c5c
    }
  ion-label {
       color: white !important; //#5c5c5c
    }
}

.classItemAgf:hover {
  background-color: #e3e3e3;
}

.classItemAgf:active {
  background-color: #efe1e5;
  //--ion-color: yellow !important; //#804254 
  ion-icon {
        --ion-color-base: white !important; //#804254
    }
  ion-label {
       color: white !important; //#804254
    }
}

// form

input.form-input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: #ccc
}

input.form-input:focus {
  border-color: #284691;
}

.sair {
  background: none;
}

